.App {
  padding: 10px;
}

.error-msg {
  color: red;
}

.SelectWidget {
  padding: 15px 0px;
}

.list-item {
  margin: 5px 0;
}

.list-item.active {
  background-color: #00e676 !important;
  color: #424242 !important;
  border: none;
}
